tr{
    font-size: 20px;
    color: #0453cc;
}

.page{
    border: 2px solid #0d6efd;
    margin: 0 auto;
    width: 370px;
    height: 455px;
    border-radius: 20px 0px;
    padding: 0px 10px;
    white-space: nowrap;
}

#login-page{
    height: 258px;
}

#AFormPage{
    width: 392px;
    height: 216px;
}

.heading{
    width: 70%;
    margin: 15px auto;
    font-size: 40px;
    text-align: center;
    color: #0d6efd;
}
td > input{
    border:2px solid #0d6efd;
    border-radius: 6px;
    height: 20px;
    width: 180px;
    margin-left: 20px;
}

.error{
    height: 27px;
    padding: 30px;
    text-align: center;
    color: #ff3e3e;
    font-size: 20px;
}
.error-message{
    padding-left: 40px;
    color: #ff3e3e;
}
input[type="submit"]{
    margin: 20px 138px; 
    background-color: #0d6efd; 
    color: white; 
    border-radius: 20px;
    border: 0px;
    height: 31px; 
    width: 90px; 
    font-size: 17px;
}
input[type="submit"]:hover{
    background-color: white;
    color: #0d6efd;
    font-size: 22px;
    font-family: serif;
    border: 1px solid #0d6efd;
    box-shadow: 3px 2px 5px #0d6efd;
}

.other-div{
    font-size:18px;
    margin-left:52px;
    color:#0d6efd;
}
#other-div-login{
    margin-left: 60px;
}

.other-btn{
    margin-left: 2px;
    font-size: 20px;
    color: #0d6efd;
}
.other-btn:hover{
    text-decoration: none;
    color: #0457d2;
}


